.text_box_text {
	text-box: trim-both text;

	&::after {
		content: 'text';
	}
}

.text_box_ex_text {
	text-box: trim-both ex text;

	&::after {
		content: 'ex text';
	}
}




.text_box_mess {
	text-box-trim: trim-both;
	text-box-edge: ex alphabetic;

	&::after {
		content: 'mess';
	}
}

.text_box_cap_alphabetic {
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;

	&::after {
		content: 'cap alphabetic';
	}
}

.text_box_ex_alphabetic {
	text-box-trim: trim-both;
	text-box-edge: ex alphabetic;

	&::after {
		content: 'ex alphabetic';
	}
}




main {
	>div {
		padding-bottom: 40px;

		div {

			display: inline-block;
			width: fit-content;
			padding-right: 2px;

			p {
				padding: 0px;
				margin: 2px;
				font-size: 40px;
				background-color: rgb(255, 238, 206);
				border-top: .5px solid rgb(255, 213, 98);
				border-bottom: .5px solid rgb(255, 213, 98);

				position: relative;
			}

			p::after {
				content: '';
				border: 0px none;
				position: absolute;
				bottom: -11px;
				font-size: 8px;
				right: 0px;
				color: #686868;
				font-family: 'Courier New', Courier, monospace;
			}
		}


	}
}


.font_segoe {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}